body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: black;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p, hr {
    margin: 0px;
    padding: 0px;
}

a:link { 
    text-decoration: none; 
    color: white;
}
a:visited { 
    text-decoration: none;
    color: white; 
}
a:hover { 
    color: rgb(0, 255, 255); 
}
a:active { 
    text-decoration: none; 
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(1fr, 270px) 1fr 1fr minmax(1fr, 200px);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "left_sidebar header header header"
        "left_sidebar cards cards right_sidebar"
        "left_sidebar cards cards right_sidebar"
        "left_sidebar cards cards right_sidebar";
    background-color: #E2E8F0;
    max-width: 1500px;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    font-size: 26px;
}

.logo_icon {
    fill: white;
    height: 70px;
    margin-left: 20px;
}

.left_sidebar {
    grid-area: left_sidebar;
    background-color: #1992D4;
    color: white;
    font-size: 1.2rem;
}

.top_left_sidebar {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.bottom_left_sidebar {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.left_sidebar_li_div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.left_sidebar_icon {
    fill: white;
    height: 30px;
    margin-right: 15px;
    margin-left: 20px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr auto auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "search bell small_avatar user_name"
        "big_avatar greeting buttons buttons";
    align-items: center;
    background-color: white;
}

.search {
    grid-area: search;
    display: flex;
    align-items: center;
}

.bell {
    grid-area: bell;
    text-align: right;
}

.big_avatar {
    grid-area: big_avatar;
    display: flex;
    justify-content: start;
}

.small_avatar {
    grid-area: small_avatar;
    text-align: right;
    margin-left: 5px;
}

.user_name {
    grid-area: user_name;
    text-align: right;
    margin-left: 20px;
    font-weight: bold;
}

.buttons {
    grid-area: buttons;
    text-align: right;
    display: flex;
    gap: 20px;
}

.greeting {
    grid-area: greeting;
    display: flex;
    flex-direction: column;
}

.buttons > button {
    background-color: #1992D4;
    color: white;
    border-radius: 15px;
    padding: 10px;
    border-color: none;
    border-width: 0px;
    width: 6rem;
}

.search_icon, .bell_icon {
    fill: black;
    height: 30px;
    margin-right: 15px;
    margin-left: 20px;
}

.search input[type=text] {
    width: 70%;
    height:25px;
    border-radius:25px;
    background-color: #E2E8F0;
    border: 0px;
    padding-left: 15px;
}

.cards {
    grid-area: cards;
    background-color: #E2E8F0;
}

.cards_group {
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    border-left-color: #F0B429;
    border-left-width: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 30px;
}   

.right_sidebar {
    grid-area: right_sidebar;
    background-color: #E2E8F0;
}

.content_icon {
    fill: black;
    height: 25px;
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 15px;
    vertical-align: center;
}

.icons_container {
    display: flex;
    justify-content: right;
}

.announcements {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.right_sidebar_content {
    background: white;
}

.trending_users {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.trending_user {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    background: white;
}

.trending_user_info {
    margin-left: 10px;
}

.big_avatar {
    display: flex;
    align-items: center;
}

.greeting {
    margin-left: 15px;
}

.user_name_in_greeting {
    font-weight: bold;
    font-size: 1.5rem;
}

.title, .announcements_title, .trending_title, .cards_title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.right_sidebar {
    font-size: 0.9rem;
}

.right_sidebar_subtitle {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.right_sidebar_content {
    padding: 30px;
}